.stepball {
    width: 60px;
    height: 60px;
}

.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
    vertical-align: middle;
    float: none;
}

.badge.badge-purple {
    background-color: purple;
    color: white;
}

.badge.badge-orange {
    background-color: orange;
    color: white;
}

.table .badge {
    font-size: 17px;
    padding: 10px;
}

.pagination {
    flex-wrap: wrap;
}

.b-search-form-container {
    background-color: #dbdbdb;
    padding: 20px;
    margin-bottom: 30px;
    -webkit-box-shadow: 7px 7px 25px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 25px -5px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 25px -5px rgba(0,0,0,0.75);
    position: relative;
}

.table-checkbox {
    margin:-5px 0 1px -10px; /* <-- here */
    padding: 0;
    vertical-align: middle;
}

.main-logo {
    width: 120px;
}

.b-login-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-feedback-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 0 2px rgba(255,255,255,0.6), 
        0 1px 1px rgba(0,0,0,0.1);
    background-color: transparent !important;
    z-index: 999;
}

.nav-item-logo {
    margin-right: 2px;
    padding-top: 2px;
}

.section-header {
    margin: 20px 0 20px 0;
}

.overlay-div {
    z-index: 50;
    background: rgba(255,255,255,0.7);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}

.overlay-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}

.app-body { 
    padding-top: 80px;
 }